
:root {
	--button-width: 240px;
	--button-height: 55px;
}

html, body{
	overflow: hidden;
}

*{
	padding: 0;
	margin: 0;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

body {
	text-align: center;
	background-color: black;
	color:white;
	font-size: 20pt;
	font-family: 'Montserrat', monospace;
	font-weight: 600;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

a {
	text-decoration: none;
}

#game {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	z-index:0;
}

#titleScreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	background-color: black;
	display: none;

	letter-spacing: 2px;
}

#titleScreen>#titleScreenContent {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: max-content;
	height: 100vh;
	margin: 0 auto;
	margin-left:80px;
}

#titleScreenContent>#title {
	font-size: 64pt;
	margin: -40px 0 40px 0;
	text-align: left;
	letter-spacing: 1px;
}

#titleScreenContent>#title>#smallTitleText {
	font-size: 36pt;
	margin: 0 0 -10px 5px;
	display: block;
}

#titleScreenContent>.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	border-radius: 5px;
	width: var(--button-width);
	height: var(--button-height);
	font-size: 24pt;
	text-align: left;
	margin: 5px 0 2px 10px;
	/* padding: 0 ; */
	cursor: pointer;
}


#titleScreenContent>#playButton  { }

#titleScreenContent>#optionsButton  { }

#titleScreenContent>#helpButton  { }

#helpScreen {
	display: flex;
	position: absolute;
	visibility: hidden;

	color: white;
	border: 2px solid white;

	width: 200px;
	height: 200px;
	border-radius: 1px;
	z-index: 11;
}


#heartCanvas {
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	width: min-content;
}
