a {
	text-decoration: none;

}

body {
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: white;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;
}

div {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#roominfopanel {
	position: absolute;
	display: block;
	left: 1vw;
	top: 1vw;
	/*width: 20vw;*/
	/*height: 10.5vw;*/
	font-size: 3vw;
	/*background-color: black;*/
	border-radius: 5px;
	color: white;
}

.button {
	position: absolute;
	display: block;
	width: 4vw;
	height: 4vw;
	border-radius: 50px;
	background-color: gray;
	font-size: 3.2vw;
	color: black;
}

#decwidth {
	left: 40vw;
	top: 85vh;
}

#incwidth {
	right: 40vw;
	top: 85vh;
}

#decheight {
	left: 75vw;
	bottom: 35vh;
}

#incheight {
	left: 75vw;
	top: 35vh;
}

#save {
	position: absolute;
	display: block;
	background-color: white;
	top: 10vw;
	left: 1vw;
	font-size: 3vw;
}

#instructions {
	position: absolute;
	display: block;
	color:white;
	top: 15vw;
	left: 1vw;
	max-width:25vw;
	text-align:left;
	font-size: 2vw;
}

#toolpics {
	position: absolute;
	display: block;
	width: 20vw;
	right: 0;
	top: 0;
	height: 100vh;
}

.tool {
	position: absolute;
	display: block;
	width: 6vw;
	height: 6vw;
	right: 7vw;
	background-size: 100% 100%;
}

#wall {
	background-image: url('data/wallTexture0.png');
	top: 8vw;
}

#floor {
	background-image: url('data/floorTexture0.png');
	top: 16vw;
}

#loot {
	background-image: url('data/lootClosedTexture.png');
	top: 24vw;
}

#door {
	background-image: url('data/doorClosedTexture.png');
	top: 32vw;
}
